/*  your css code here. If applicable */
.mainContainer{
	Background-color: #f5f5f5;
	padding:30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	
}
.testimonial{
	font-weight:bold;
	background-color:white;
	padding:0px;
	border:none;
	
	
	
}

.question{
	background-color:white;
	white-space: nowrap;
  overflow: hidden;
	padding:20px;
	border:1px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.author{
	position:relative;
	top:10px;
	left:50px;
	text-align:right;
	font-style:italic;
}
}